/*
  0 - 600px:         Phone
  600 - 900px:       Tablet portrait
  900 - 1200px:      Tablet landscape
  
  [1200 - 1800]     is where our normal styles apply
  1800px + :        Big desktop
  
  @mixin respond-phone {
    @media (max-width: 600px) {
      @content;
    }
  }
  
  $breakpoint argument choices:
  -phone
  -tab-port
  -tab-land
  -big-desktop
  
  Order: Base + typograhpy > general layout + grid > page layout > components
  
  1em = 16px
  
  */
:root {
  --color-primary: #ff7d1a;
  --color-secondary: #ffede0;
  --color-black-shade--2: #1d2025;
  --color-black-shade--1: #68707d;
  --color-black-neutral: #b6bcc8;
  --color-black-tint--1: #f7f8fd;
  --color-white: #ffffff;
  --color-lightbox-bk: #000000; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100vh; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  padding: 0 16rem;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  @media only screen and (max-width: 68.75em) {
    body {
      padding: 0 4rem; } }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 0; } }

.sub-heading--2 {
  color: var(--color-black-shade--2); }

.sub-heading--3 {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--color-primary);
  letter-spacing: 0.1rem; }

.heading {
  font-weight: 700;
  color: var(--color-black-shade--2); }
  .heading__primary {
    font-size: 4.2rem;
    line-height: 4.7rem; }
    @media only screen and (max-width: 37.5em) {
      .heading__primary {
        font-size: 3.8rem; } }
  .heading__secondary {
    font-size: 3.1rem;
    line-height: 3.5rem; }

.paragraph {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--color-black-shade--1); }

.u-margin-bottom-smaller {
  margin-bottom: 1rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-small--1 {
  margin-bottom: 3rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-super-big {
  margin-bottom: 16rem; }

.btn-container {
  display: flex;
  gap: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .btn-container {
      flex-direction: column; } }

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-block;
  height: 5rem; }

.btn-primary {
  background-color: var(--color-primary);
  box-shadow: 0 0.5rem 1rem rgba(255, 125, 26, 0.2);
  color: var(--color-white);
  flex-grow: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: all 0.2s; }
  .btn-primary:hover {
    transform: translateY(-3px);
    filter: brightness(1.3);
    box-shadow: 0 2rem 3rem rgba(255, 125, 26, 0.4); }
  .btn-primary:active, .btn-primary:focus {
    transform: translateY(-1px);
    box-shadow: 0 1rem 2rem rgba(255, 125, 26, 0.4); }
  .btn-primary .btn__cart-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-white); }

.btn-secondary {
  background-color: var(--color-black-tint--1);
  color: var(--color-black-shade--2);
  font-weight: 700;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 3;
  transition: all 0.3s; }
  .btn-secondary .btn__icon-plus,
  .btn-secondary .btn__icon-minus {
    height: 1rem;
    width: 1rem; }
    .btn-secondary .btn__icon-plus:hover,
    .btn-secondary .btn__icon-minus:hover {
      transform: scale(1.1);
      opacity: 0.5; }

.img-gallery {
  display: none;
  flex: 100%;
  flex-shrink: 1;
  position: relative; }
  .img-gallery__icon-container {
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%); }
  .img-gallery__icon-previous {
    height: 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    .img-gallery {
      display: block; } }
  .img-gallery .img-gallery__img--1 {
    display: block;
    width: 100%;
    height: 100%; }
  .img-gallery .img-gallery__img--2,
  .img-gallery .img-gallery__img--3,
  .img-gallery .img-gallery__img--4 {
    display: none; }
  .img-gallery .img-gallery__img {
    height: 100%;
    width: 100%; }
  .img-gallery__icon-container-next {
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%); }
  .img-gallery__icon-next {
    height: 1.5rem; }

.modal-cart-container {
  position: absolute;
  top: 8rem;
  right: 0;
  min-width: 32rem;
  min-height: 25rem;
  font-size: 1.6rem;
  background-color: var(--color-white);
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.09);
  transition: all 0.2s; }
  .modal-cart-container__heading {
    padding: 2rem;
    border-bottom: 1px solid var(--color-black-neutral); }
  .modal-cart-container .product-items-container {
    display: grid;
    grid-template-columns: 7rem max-content 0.5rem;
    grid-template-rows: repeat(2, 2rem);
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: start;
    align-items: center;
    padding: 1rem 2rem; }
    @media only screen and (max-width: 37.5em) {
      .modal-cart-container .product-items-container {
        display: none; } }
    .modal-cart-container .product-items-container .product-cart__empty {
      position: absolute;
      font-weight: 700;
      color: var(--color-black-shade--1);
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      justify-self: center;
      align-self: center;
      margin-top: 6rem; }
    .modal-cart-container .product-items-container .product-img {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
      object-fit: cover; }
      .modal-cart-container .product-items-container .product-img__img {
        width: 6rem;
        height: 6rem;
        border-radius: 0.5rem; }
    .modal-cart-container .product-items-container .product-name,
    .modal-cart-container .product-items-container .product-price {
      color: var(--color-black-shade--1); }
    .modal-cart-container .product-items-container .product-name {
      grid-column: 2 / 3;
      grid-row: 1 / 2; }
    .modal-cart-container .product-items-container .product-price {
      grid-column: 2 / 3;
      grid-row: 2 / 3; }
    .modal-cart-container .product-items-container .product-icon__bin {
      grid-column: 3 / 5;
      grid-row: 1 / -1;
      fill: var(--color-black-shade--1);
      height: 1.5rem;
      cursor: pointer; }
      .modal-cart-container .product-items-container .product-icon__bin:hover {
        filter: brightness(70%); }
  .modal-cart-container .product-checkout-button {
    width: 90%;
    margin-right: auto;
    margin-left: auto; }

.modal-cart-container--hidden {
  visibility: hidden;
  height: 0;
  top: 0; }

.modal-window-container {
  position: absolute;
  width: calc(100vw + 16rem);
  height: 100vh;
  left: -16rem;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
  backface-visibility: hidden; }
  .modal-window-container .product-cards__img {
    display: grid;
    grid-template-columns: 2rem repeat(4, 1fr) 2rem;
    grid-template-rows: 67vh 8rem;
    row-gap: 3rem;
    column-gap: 3rem; }
    .modal-window-container .product-cards__img-small--1 {
      grid-column: 2 / 3; }
  .modal-window-container .modal-window {
    margin-right: -16rem;
    position: relative; }
    .modal-window-container .modal-window__icon-container {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: white;
      padding: 2rem; }
      .modal-window-container .modal-window__icon-container--previous {
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%); }
      .modal-window-container .modal-window__icon-container--next {
        top: 50%;
        right: 0;
        transform: translate(50%, -51%); }
    .modal-window-container .modal-window__icon-close {
      position: absolute;
      width: 2rem;
      height: 2rem; }
    .modal-window-container .modal-window__icon-previous, .modal-window-container .modal-window__icon-next {
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer; }
    .modal-window-container .modal-window__icon-close {
      right: 0;
      top: -4rem;
      cursor: pointer;
      transition: all 0.3s;
      fill: var(--color-black-shade--1); }
      .modal-window-container .modal-window__icon-close:hover {
        fill: var(--color-primary); }
    .modal-window-container .modal-window__icon-next {
      stroke: var(--color-black-shade--2);
      transform: translateX(1px);
      transition: all 0.3s; }
      .modal-window-container .modal-window__icon-next:hover {
        stroke: var(--color-primary); }
    .modal-window-container .modal-window__icon-previous {
      stroke: var(--color-black-shade--2);
      transition: all 0.3s;
      transform: translateX(-1px); }
      .modal-window-container .modal-window__icon-previous:hover {
        stroke: var(--color-primary); }
    .modal-window-container .modal-window__big-img-container {
      overflow: visible; }
    .modal-window-container .modal-window__big-img-container > :nth-child(2):hover {
      transform: scale(1);
      cursor: default; }
  .modal-window-container--hidden {
    visibility: hidden;
    height: 0;
    bottom: -1rem;
    right: 0; }

.product-cards__img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 52vh 11vh;
  row-gap: 2rem;
  column-gap: 2rem;
  border-radius: 1rem; }
  @media only screen and (max-width: 68.75em) {
    .product-cards__img {
      grid-template-rows: 40vh 8vh; } }
  @media only screen and (max-width: 37.5em) {
    .product-cards__img {
      display: none; } }
  .product-cards__img-overlay-container {
    position: relative; }
    .product-cards__img-overlay-container:hover .product-cards__img-overlay {
      opacity: 0.3;
      cursor: pointer;
      border-radius: 1rem; }
  .product-cards__img-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    opacity: 0;
    transition: all 0.2s ease-in; }
  .product-cards__img-big {
    grid-column: 1 / -1;
    width: 100%;
    overflow: hidden;
    border-radius: 1rem; }
  .product-cards__img .product-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 1rem;
    transition: all 0.2s ease-in; }
    .product-cards__img .product-img--big {
      transition: transform 0.4s; }
      .product-cards__img .product-img--big:hover {
        transform: scale(1.2);
        border-radius: inherit;
        cursor: pointer; }
  .product-cards__img-small--active {
    box-shadow: 0 0 0 3px var(--color-primary);
    border-radius: 1rem; }

@media only screen and (max-width: 37.5em) {
  .product-cards__details {
    padding: 2rem; }
    .product-cards__details :nth-child(1),
    .product-cards__details :nth-child(2) {
      margin-bottom: 1rem; }
    .product-cards__details :nth-child(3) {
      margin-bottom: 3rem; }
    .product-cards__details :nth-child(4) {
      margin-bottom: 2rem; } }

.product-cards__details-price {
  font-size: 2.5rem;
  color: var(--color-black-shade--2);
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem; }
  .product-cards__details-price--sale-percentage {
    color: var(--color-primary);
    font-size: 1.6rem;
    background-color: var(--color-secondary);
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    margin-right: auto;
    padding: 0.1rem 0.6rem; }
  .product-cards__details-price--sale-amount {
    font-size: 1.6rem;
    display: block;
    color: var(--color-black-neutral);
    flex-basis: 100%;
    text-decoration: line-through; }

.header {
  display: grid;
  grid-template-columns: min-content 1fr min-content min-content;
  align-items: center;
  padding: 3rem 0;
  border-bottom: 2px solid var(--color-black-tint--1);
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 1rem 0;
      column-gap: 2rem; } }
  .header__menu {
    display: none;
    margin-left: 2rem; }
    .header__menu-icon {
      display: block;
      height: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .header__menu {
        display: block; } }
  .header__logo-svg {
    width: 11rem;
    height: 3.5rem; }
    .header__logo-svg-image {
      height: 100%; }
  .header__checkout {
    display: flex;
    align-items: center;
    gap: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .header__checkout {
        gap: 2rem; } }
    .header__checkout > [class^='checkout__'],
    .header__checkout [class^='header__icon'] {
      cursor: pointer; }
    .header__checkout .header__icon-container {
      position: relative; }
      .header__checkout .header__icon-container .checkout__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-black-shade--1);
        transition: all 0.3s; }
        .header__checkout .header__icon-container .checkout__icon:hover {
          fill: var(--color-black-shade--2); }
      .header__checkout .header__icon-container::after {
        content: '3';
        display: block;
        font-size: 0.7rem;
        padding: 0.09rem 0.6rem;
        position: absolute;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: var(--color-white);
        top: -0.3rem;
        right: -0.3rem;
        z-index: 2; }
  .header .checkout__avater-img {
    height: 4rem;
    border-radius: 50%;
    transition: box-shadow 0.4s; }
    @media only screen and (max-width: 37.5em) {
      .header .checkout__avater-img {
        height: 2.5rem; } }
    .header .checkout__avater-img:hover {
      box-shadow: 0 0 0 2px var(--color-primary); }

.nav {
  font-size: 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    .nav {
      display: none; } }
  .nav__ul {
    display: flex;
    gap: 3rem; }
    .nav__ul:first-child {
      margin-left: 4rem; }
  .nav__li {
    list-style: none; }
  .nav__link, .nav__link:link, .nav__link:visited {
    text-decoration: none;
    color: var(--color-black-shade--1);
    padding-bottom: 4rem;
    cursor: pointer;
    transition: all 0.3s; }
    .nav__link:hover, .nav__link:active, .nav__link:link:hover, .nav__link:link:active, .nav__link:visited:hover, .nav__link:visited:active {
      color: var(--color-black-shade--2);
      border-bottom: 3px solid var(--color-primary); }

.mobile-nav__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99998;
  transition: 0.4s ease-in; }
  .mobile-nav__overlay .nav-mobile {
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 68vw;
    background-color: var(--color-white);
    font-size: 2rem;
    font-size: 2rem;
    color: var(--color-black-shade--2);
    z-index: 99999; }
    .mobile-nav__overlay .nav-mobile__ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 4rem; }
    .mobile-nav__overlay .nav-mobile .close-icon-container__nav {
      margin-bottom: 3rem;
      cursor: pointer; }
    .mobile-nav__overlay .nav-mobile__li {
      list-style: none; }
    .mobile-nav__overlay .nav-mobile__link, .mobile-nav__overlay .nav-mobile__link:link, .mobile-nav__overlay .nav-mobile__link:visited {
      text-decoration: none;
      padding-bottom: 4rem;
      color: var(--color-black-shade--2);
      font-weight: 700;
      cursor: pointer;
      transition: all 0.3s; }

.mobile-nav--hidden {
  opacity: 0;
  left: -40rem;
  height: 0; }

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100% - 12rem);
  align-items: center;
  gap: 10rem; }
  @media only screen and (max-width: 68.75em) {
    .container {
      gap: 8rem; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      flex-direction: column;
      gap: 0; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      height: auto; } }
  .container .product-cards__img {
    flex-basis: 40%; }
    @media only screen and (max-width: 68.75em) {
      .container .product-cards__img {
        flex-basis: 50%; } }
    @media only screen and (max-width: 37.5em) {
      .container .product-cards__img {
        flex-basis: auto; } }
  .container .product-cards__details {
    flex-basis: 45%; }
    @media only screen and (max-width: 68.75em) {
      .container .product-cards__details {
        flex-basis: 40%; } }
    @media only screen and (max-width: 37.5em) {
      .container .product-cards__details {
        flex-basis: auto;
        justify-content: space-between;
        align-items: flex-start; } }
