///////////////////////////
//COLORS
:root {
  --color-primary: #ff7d1a;
  --color-secondary: #ffede0;

  --color-black-shade--2: #1d2025;
  --color-black-shade--1: #68707d;
  --color-black-neutral: #b6bcc8;
  --color-black-tint--1: #f7f8fd;
  --color-white: #ffffff;

  --color-lightbox-bk: #000000;
}

$--color-primary: #ff7d1a;
$--color-lightbox-bk: #000000;

///////////////////////////
//FONT

$default-font-size-smallest: 1.2rem;
$default-font-size-smaller--1: 1.4rem;
$default-font-size-smaller: 1.5rem;
$default-font-size: 1.6rem;
$default-font-size-bigger: 2rem;

$font-size-heading-1: 4.2rem;
$font-size-heading-1--mobile: 3.8rem;
$font-size-heading-2: 3.1rem;

//FONT WEIGHT
$font-weight-normal: 400;
$font-weight-bold: 700;

///////////////////////////
// LETTER / WORD SPACING/ LINE-HEIGHT

$letter-spacing-default: 0.1rem;

$line-height-default: 2.5rem;
$line-height-heading-1: 4.7rem;
$line-height-heading-2: 3.5rem;

///////////////////////////
//FONT-FAMILY

$default-font-family: 'Kumbh Sans', sans-serif;

/////////////////////////////
//SPACING

$spacing-smallest: 1rem;
$spacing-small: 2rem;
$spacing-smaller: 2.5rem;
$spacing-small--1: 3rem;
$spacing-medium: 4rem;
$spacing-big: 8rem;
$spacing-bigger: 10rem;
$spacing-super-big: 16rem;

///////////////////////////////
// Border

$default-border-radius: 1rem;
$default-border-radius-smaller: 0.5rem;

////////////////////////////////
// Heights

$header-height: 8.199rem;
