.header {
  display: grid;
  grid-template-columns: min-content 1fr min-content min-content;
  align-items: center;
  padding: $spacing-small--1 0;
  //   background-color: darkgray;
  border-bottom: 2px solid var(--color-black-tint--1);
  position: relative;

  @include respond(mobile-big) {
    padding: $spacing-smallest 0;

    column-gap: $spacing-small;
  }

  &__menu {
    display: none;

    margin-left: $spacing-small;

    &-icon {
      display: block;
      height: 1.5rem;
    }

    @include respond(mobile-big) {
      display: block;
    }
  }

  &__logo-svg {
    width: 11rem;
    height: 3.5rem;

    &-image {
      height: 100%;
    }
  }

  //   &__nav {
  //   }

  &__checkout {
    display: flex;
    align-items: center;
    gap: $spacing-medium;

    @include respond(mobile-big) {
      gap: $spacing-small;
    }

    & > [class^='checkout__'],
    [class^='header__icon'] {
      cursor: pointer;
    }

    .header__icon-container {
      position: relative;

      .checkout__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-black-shade--1);
        transition: all 0.3s;

        &:hover {
          fill: var(--color-black-shade--2);
        }
      }

      &::after {
        content: '3';
        display: block;
        font-size: 0.7rem;
        padding: 0.09rem 0.6rem;
        position: absolute;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: var(--color-white);
        top: -0.3rem;
        right: -0.3rem;
        z-index: 2;
      }
    }
  }

  .checkout__avater-img {
    height: 4rem;
    border-radius: 50%;
    transition: box-shadow 0.4s;

    @include respond(mobile-big) {
      height: 2.5rem;
    }

    &:hover {
      box-shadow: 0 0 0 2px var(--color-primary);
    }
  }
}
