.nav {
  font-size: $default-font-size-smaller;

  @include respond(mobile-big) {
    display: none;
  }

  &__ul {
    display: flex;
    gap: $spacing-small--1;

    &:first-child {
      margin-left: $spacing-medium;
    }
  }

  &__li {
    list-style: none;
  }

  &__link,
  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: var(--color-black-shade--1);
    padding-bottom: $spacing-medium;

    cursor: pointer;
    transition: all 0.3s;

    &:hover,
    &:active {
      color: var(--color-black-shade--2);
      border-bottom: 3px solid var(--color-primary);
    }
  }
}
