.nav {
  font-size: $default-font-size-smaller;

  @include respond(mobile-big) {
    display: none;
  }

  &__ul {
    display: flex;
    gap: $spacing-small--1;

    &:first-child {
      margin-left: $spacing-medium;
    }
  }

  &__li {
    list-style: none;
  }

  &__link,
  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: var(--color-black-shade--1);
    padding-bottom: $spacing-medium;

    cursor: pointer;
    transition: all 0.2s;

    &:hover,
    &:active {
      color: var(--color-black-shade--2);
      border-bottom: 3px solid var(--color-primary);
    }
  }
}

.mobile-nav__overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($--color-lightbox-bk, 0.8);
  z-index: 99998;
  transition: all 0.4s;

  .nav-mobile {
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 68vw;

    background-color: var(--color-white);
    font-size: $default-font-size-bigger;
    font-size: $default-font-size-bigger;
    color: var(--color-black-shade--2);
    z-index: 99999;
    @include respond(mobile-big) {
    }

    &__ul {
      display: flex;
      flex-direction: column;
      gap: $spacing-small;
      padding: 4rem;
    }

    .close-icon-container__nav {
      margin-bottom: $spacing-small--1;
      cursor: pointer;
    }

    &__li {
      list-style: none;
    }

    &__link,
    &__link:link,
    &__link:visited {
      text-decoration: none;
      padding-bottom: $spacing-medium;
      color: var(--color-black-shade--2);
      font-weight: 700;
      cursor: pointer;
      transition: all 0.3s;
    }
  }
}

.mobile-nav--hidden {
  opacity: 0;
  right: 100%;
}
