*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem === 10px

  @include respond(tab-land-big) {
    font-size: 50%;
    // 1 rem === 8px;
  }

  @include respond(mobile-big) {
    font-size: 37.5%;
    // 1 rem === 6px;
  }

  height: 100vh;
}

body {
  box-sizing: border-box;
  padding: 0 $spacing-super-big;
  font-family: $default-font-family;
  font-weight: 400;
  height: 100%;
  width: 100%;
  overflow: hidden;

  @include respond(tab-land-big) {
    padding: 0 $spacing-big;
  }

  @include respond(tab-land-medium) {
    padding: 0 $spacing-medium;
  }

  @include respond(mobile-big) {
    padding: 0;
  }
}
