.sub-heading--2 {
  color: var(--color-black-shade--2);
}

.sub-heading--3 {
  font-size: $default-font-size-smaller--1;
  text-transform: uppercase;
  //   font-weight: $font-weight-normal;
  color: var(--color-primary);
  letter-spacing: $letter-spacing-default;
}

.heading {
  font-weight: $font-weight-bold;
  color: var(--color-black-shade--2);

  &__primary {
    font-size: $font-size-heading-1;
    line-height: $line-height-heading-1;
    @include respond(mobile-big) {
      font-size: $font-size-heading-1--mobile;
      // line-height: $line-height-heading-1--mobile;
    }
  }

  &__secondary {
    font-size: $font-size-heading-2;
    line-height: $line-height-heading-2;
  }
}

.paragraph {
  font-size: $default-font-size-smaller;
  line-height: $line-height-default;
  color: var(--color-black-shade--1);

  &--1 {
  }
}
