.u-margin-bottom-smaller {
  margin-bottom: $spacing-smallest;
}
.u-margin-bottom-small {
  margin-bottom: $spacing-small;

  @include respond(mobile-big) {
    margin-bottom: $spacing-small;
  }
}
.u-margin-bottom-small--1 {
  margin-bottom: $spacing-small--1;

  @include respond(mobile-big) {
    margin-bottom: $spacing-small;
  }
}
.u-margin-bottom-medium {
  margin-bottom: $spacing-medium;
}
.u-margin-bottom-big {
  margin-bottom: $spacing-big;
}
.u-margin-bottom-super-big {
  margin-bottom: $spacing-super-big;
}
